<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <div class="row">
      <form class="col s12 login-form">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="username_login" type="text" class="validate" />
            <label for="username-login">username</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password-login" type="tel" class="validate" />
            <label for="password-login">password</label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

    <h2>Signup</h2>

    <div class="row">
      <form class="col s12 login-form">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="username-signup" type="text" class="validate" />
            <label for="username-signup">username</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password-signup" type="tel" class="validate" />
            <label for="password-signup">password</label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

<script src="./js/login.js"></script>